<div class="form-group custom-form-group input-wrap">
  <%= form_builder.label :first_name do %>
    <strong> Enter coupon code for getting discount!</strong>
  <% end %>
  <%= form_builder.text_field :first_name, :class => 'form-control', required: true %>
  <span class="form-error"></span>
</div>
