<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= label_tag :page_type %>
      <%= select_tag :page_type, options_for_select(["A4","Thermal"], "Thermal") , prompt: "Select Print Page Type", class:"form-control" %>
    </div>
  </div>
</div>