<div class="syftet-footer-profile clearfix">
  <section class="container news-letter-wrapper">
    <div class="newsletter-container">
      <h3 class="newsletter-title">Subscribe to our newsletter</h3>
      
      <p class="newsletter-text"><%= t(:join_our_email_text) %></p>
      
      <div class="newsletter-form">
        <%= form_for NewsletterSubscription.new, url: email_subscription_path, remote: true do |f| %>
          <div class="newsletter-input-group">
            <%= f.email_field :email, class: 'newsletter-input', placeholder: "#{t(:enter_your_email)}..." %>
            <button type="submit" class="newsletter-btn">
              <%= t(:subscribe) %>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <section class="footer-new">
    <div class="container new-footer">
      <div class="row">
        <div class="col-md-3">
          <h3>About</h3>
          <p>About Us</p>
          <p>Contact us</p>
          <p>Privacy Policy</p>
          <p>Terms and Conditions</p>
        </div>
        <div class="col-md-3">
          <h3>About</h3>
          <p>About Us</p>
          <p>Contact us</p>
          <p>Privacy Policy</p>
          <p>Terms and Conditions</p>
        </div>
        <div class="col-md-3">
          <h3>About</h3>
          <p>About Us</p>
          <p>Contact us</p>
          <p>Privacy Policy</p>
          <p>Terms and Conditions</p>
        </div>
        <div class="col-md-3 footer-last-col">
          <h3>About</h3>
          <p>About Us</p>
          <p>Contact us</p>
          <p>Privacy Policy</p>
          <p>Terms and Conditions</p>
        </div>
      </div>
    </div>
    <div class="footer-divider"></div>
  </section>
</div>
