<div class="container">
  <section class="popular_brands">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-v1">
          <div class="title-wrap">
            <h3 class="public-title">
              Shop by Categories
            </h3>
          </div>

          <div class="brand_list">
            <% @categories.each do |category| %>
              <div class="col-sm-3 col-md-2 brand_wrapper">
                <%= link_to categories_path(category.permalink) do %>
                  <div class="brand_item">
                    <%= image_tag category.image_url(:thumb) if category.respond_to?(:image_url) %>
                    <div class="brand_name">
                      <h4><%= category.name %></h4>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
