<div class="container">
  <div class="category-header">
    <h5>Browse by Health Conditions</h5>
    <%= link_to "View All", "#", class: "btn-right" %>
  </div>
  <div class="categories">
    <% @categories.first(4).each do |category| %>
      <div class="category-wrapper">
        <%= link_to categories_path(category.permalink.presence || category.slug.presence || category.name.to_s.parameterize) do %>
          <div class="category-image">
            <%= image_tag category.image_url(:large) if category.respond_to?(:image_url) %>
          </div>
          <div class="category-name">
            <h5><%= category.name %></h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>