<div class="hidden-sm hidden-xs">
  <ul class="top-nav">
    <li><i class="fa-solid fa-truck"></i> Fast Delivery</li>
    <li><i class="fa-solid fa-headphones"></i> 24/7 support</li>
    <li><i class="fa-solid fa-lock"></i> Secure Shopping</li>
    <li><i class="fa-solid fa-gift"></i> Free Delivery over <i class="fa-solid fa-bangladeshi-taka-sign"></i>500</li>
  </ul>
</div>