//New Variables
$primary_gray: #374151;
$primary_gray_fade: #475262;
$gradient_blue: linear-gradient(90.00deg, var(--color-azure-28, rgba(0, 61, 143, 1)),var(--color-azure-65, rgba(74, 158, 255, 1)) 100%);
//Old variables
$primary_blue: #4A9EFFFF;
$primary_blue_fade: #096fc5;
$primary_red: red;
$primary_red_fade: rgb(246, 78, 78);
