<div>
  <div>
    <%= email_image_tag "email_template_header.png", alt: "Product Pictures", height:"400px", width: "100%"%>
  </div>
  <div>
    <p style="text-align: center">
      We're thrilled to have you on board! We're ready yo work together to get you your clearest and healthiest skin.
    </p>
  </div>

  <div style="text-align: center; margin-top: 10px">
    <span style="width: 10px; height: 10px; border-radius: 50%; background: green; display: inline-block; margin: 0 5px;"></span>
    <span style="width: 10px; height: 10px; border-radius: 50%; background: green; display: inline-block; margin: 0 5px;"></span>
    <span style="width: 10px; height: 10px; border-radius: 50%; background: green; display: inline-block; margin: 0 5px;"></span>
  </div>

  <div style="text-align: center; margin-bottom: 10px">
    <h2>DID YOU KNOW</h2>
    <p>As a Curology patient, you will receive: </p>
  </div>

  <section style="display: flex;padding-top: 10px;grid-gap: 20px;">
    <div>
      <div>
        <%= email_image_tag 'email_template_first_content.png', height:"200px", width:"200px" %>
      </div>
      <div style="padding: 10px 2px;">
        <p>A Customized prescription medication made just for your skin</p>
      </div>
    </div>

    <div>
        <div>
          <%= email_image_tag 'email_template_second_content.png', height:"200px", width:"200px" %>
        </div>
        <div style="padding: 10px 2px;">
          <p>One-on-one skincare advice from your personal healthcare provider </p>
        </div>
    </div>

    <div>
        <div>
          <%= email_image_tag 'email_template_third_content.png', height:"200px", width:"200px" %>
        </div>
        <div style="padding: 10px 2px;">
            <p>unlimited fine-tuning of your formulation throughout your treatment.</p>
        </div>
    </div>
  </section>
</div>

