<!-- Medium modal -->
<div class="new-modal-wrap modal fade  bd-example-modal-lg" id="global-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-body">

    </div>
  </div>
</div>