<div id="no-data-found" class="bs-callout bs-callout-info mt5 mb5 clearfix" style="background-color: #d7d5dc; padding-left: 20px">
  <h4 class="mb0" style="color: red"> <%= raw message %> </h4>
</div>